<div class="banner">
  <div class="container">
    <h1 class="text-center">Choisissez votre ninja !</h1>
  </div>
</div>
<div style="margin: 15px">
  <div class="text-end me-5">
    <a href="<%= new_ninja_path%>", class="btn btn-primary text-white mt-3">
      Mes ninjas
    </a>
  </div>
  <div class="text-center mt-3">
    <div class="d-flex justify-content-center", style="white-space: nowrap; overflow-x: auto;">
      <% @ninjas.each do |ninja| %>
        <div class="col-3", style="display: inline-block;">
          <%= render "/layouts/card", ninja: ninja %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12" style="width: 100%;">
    <%= render "map" %>
  </div>
</div>
