<div class="banner">
  <div class="container">
    <h1 class="text-center">Choisissez votre ninja !</h1>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <% @ninjas.each do |ninja| %>
      <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <%= render "/layouts/card", ninja: ninja %>
      </div>
    <% end %>
  </div>
</div>
