<div class="banner">
  <div class="container">
    <h1 class="text-center">Choisissez votre ninja !</h1>
  </div>
</div>

<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <% @ninjas.each do |ninja| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <%= render "/layouts/card", ninja: ninja %>
      </div>
    <% end %>

    <div class="map col-12 col-lg-4">
     <%= render "map" %>
    </div>

  </div>
</div>
