<div class="banner">
  <div class="container">
    <h1 class="text-center">Choisissez votre ninja !</h1>
  </div>
</div>
<div style="margin: 15px">
  <a href="<%= new_ninja_path%>">
    Mes ninjas
  </a>
  <div class="text-center mt-3">
    <div class="row d-flex justify-content-center">
      <% @ninjas.each do |ninja| %>
        <div class="col-3">
          <%= render "/layouts/card", ninja: ninja %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12" style="width: 100%;">
    <%= render "map" %>
  </div>
</div>
