<br>
<h1 class="text-center mt-4 text-white">Mes réservations</h1>

<div class="d-flex justify-content-center">
  <div class="row  row-cols-1 row-cols-md-3 g-4">
      <% @reservations.each do |reservation|%>
        <div class="col">
          <div class="card-category card-body">
            <div class=" p-5 rounded-5" style="background-image: url('<%= cl_image_path reservation.ninja.photo.key%>')">
              <h3 style="color: white"><%= reservation.ninja.name %></h3>
              <h3 style="color: white"><%= reservation.mission %></h3>
              <p style="color: white"><%= reservation.date%></p>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
