.navbar-lewagon {
  justify-content: space-between;
  background: #2a536e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

#input-navbar {
  width: 115%;
}

.nav-end {
margin: 0 8px;

}

.hover-co:hover {
  color: black !important;
}

.hover-deco:hover {
  color: white !important;
}
