<div>
  <%= simple_form_for [reservation, review], style:"color: black" do |r| %>
    <%= r.input :score, collection: 1..5, as: :radio_buttons%>
    <%= r.input :content, as: :text, style:"color: antiquewhite !important"%>
    <%= r.button :submit, "Créer le commentaire", class: "btn btn-primary" %>
  <% end %>
</div>
